:root {
    --app-background: #adbdba;
    --app-card-background: #e8e7e1;
    --app-footer-background: #363c4f;
    --app-dark-text-color: #363c4f;
    --app-dark-button: #363c4f;
    --app-dark-button-hover: #363c4fa5;
    --app-part-border: #aaa;

    --moto-red: #ff3b3b;
    --moto-blue: #007bff;
    --moto-black: #212121;
    --moto-gray: #9e9e9e;

    --app-accent-color: #ff6f61;
    --app-success-color: #4caf50;
    --app-error-color: #f44336;
}